<mat-card id="card">
    <mat-card-header id="header" style="background-image: url({{image}});">
      <mat-chip-set style="padding-left: 5px;" *ngIf="loggedInUser">
        <mat-chip
        [ngClass]="{adopted: adopted, waiting: !adopted}">
        <ng-container *ngIf="adopted; else waiting">
          ADOPTED
        </ng-container></mat-chip>
        <ng-template #waiting>
          WAITING
        </ng-template>
      </mat-chip-set>
    </mat-card-header>
    <mat-card-content id="content">
      <h1>{{name | uppercase}}, {{age}}</h1>
      <mat-chip-set>
        <mat-chip> {{breed | uppercase}} </mat-chip>
      </mat-chip-set>
    </mat-card-content>
    
  </mat-card>
  