#header {
    height: clamp(18.75rem, 15vw, 31.25rem);
    padding: 0;
    margin: 1vw;
    border-radius: 0.5rem;
    box-shadow: -1px 7px 16px -5px rgba(31,54,61,1);
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
#content {
    padding: 0;
    margin-inline: clamp(1.25rem, 1.5vw, 2.5rem);
    margin-bottom: clamp(1.25rem, 1.5vw, 2.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#card {
    border-radius: 0.5rem;
    background-color: #CFE0C3;
    cursor: pointer;
}

#card:hover {
    box-shadow: -1px 7px 16px -7px rgba(31,54,61,1);
}
h1 {
    margin: 0;
    font-weight: 600;
    font-size: clamp(1rem, 0.625rem + 1.090625vw, 2.5rem)
}

mat-chip.mat-mdc-standard-chip {
    --mdc-chip-label-text-size: clamp(0.75rem, 0.75rem + 0.390625vw, 1.5rem);
    --mdc-chip-label-text-weight: 700;
    --mdc-chip-label-text-color: black;
    padding: 0.125vw;
    background-color: #DC965A;
    border-radius: 0.5rem;
}

mat-chip.mat-mdc-standard-chip.adopted {
    background: #93032E;
    --mdc-chip-label-text-color: #fff;
    --mdc-chip-label-text-weight: 500;
}

mat-chip.mat-mdc-standard-chip.waiting {
    background: green;
    --mdc-chip-label-text-color: #fff;
    --mdc-chip-label-text-weight: 500;
}

