.footer {
    padding: clamp(1.25rem, 2.5vw, 1.875rem);
    display: flex;
    flex-direction: column;
    background-color: #1F363D;
    color: black;
}
.logo-section {
    margin-bottom: clamp(0.625rem, 2.5vw, 1.875rem);
    display: flex;
    align-items: center;
}

.logo-section img {
    margin-right: 0.625rem;
    width: 6.25rem;
}

.links-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.links-section ul {
    padding: 0;
    flex: 1;
    list-style-type: none;
}

.links-section li {
    margin-bottom: clamp(0.3125rem, 0.5vw, 1.25rem);
}

.links-section a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: var(--fs-12);
}

mat-divider {
    border-top-color: #fff;
}

.bottom {
    margin-top: 0.625rem;
    display: flex;
    gap: 1vw;
}

.bottom span {
    font-size: var(--fs-12);
    color: #fff;
}