<div class="footer">
    <div class="logo-section">
        <img src="https://uwarf.org/wp-content/uploads/2023/04/uwarf-logo.png" alt="Logo">
    </div>
    <div class="links-section">
        <ul>
            <li><a href="">FAQ</a></li>
            <li><a href="">Terms & Conditions</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">About Cat Adoption</a></li>
        </ul>
        <ul>
            <li><a href="">Adoption Guidelines</a></li>
            <li><a href="">Adoption Information</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>
    <mat-divider></mat-divider>
    <div class="bottom">
        <span>Cat Adoption Agency</span>
        <span>©</span>
        <span>2024</span>
    </div>
</div>