    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <img src="https://uwarf.org/wp-content/uploads/2023/04/uwarf-logo.png" alt="Logo">
                <input type="email"
                    placeholder="Email"
                    required
                    formControlName="email"
                    [ngClass]="{invalid: loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)}">
                <input type="password"
                    placeholder="Password"
                    required
                    formControlName="password"
                    [ngClass]="{invalid: loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)}">
            <button mat-raised-button [disabled]="loginForm?.invalid" type="submit">LOG IN</button>
    </form>