input {
    height: clamp(0.9375rem, 2vw, 10rem);
    font-size: var(--fs-16);
    padding: 0.75rem 0.9375rem;
    border: none;
    border-radius: 0.3125rem;
}
form {
    padding: 1vw;
    margin: 1.25rem;
    width: clamp(18.75rem, 20vw, 31.25rem);
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    gap: 1vw;
    box-shadow: -1px 7px 16px -5px rgba(31,54,61,1);
    border-radius: 0.3125rem;
    background-color: #CFE0C3;
}

button {
    padding: 1vw;
    font-size: var(--fs-20);
}

.invalid {
    border: 1px solid red;
}