a, button {
    font-weight: 700;
    font-size: clamp(1rem, 1vw, var(--fs-32));
}

img {
    height: clamp(2.5rem, 2.5vw, 4.375rem); 
    width: clamp(6.25rem, 7vw, 8.75);
    cursor: pointer;
}

.mat-toolbar.mat-primary {
    padding: 1vw;
    height: 20%;
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    align-items: center;
    background: #1F363D;
}

.links {
    display: flex; 
    justify-content: space-evenly; 
    flex: 1;
}
.menu {
    visibility: hidden;
    display: none;
}
@media only screen and (max-width : 560px) {
    .links {
        display: none
    }

    .menu {
        visibility: visible;
        display: block;
    }

    .small-screen {
        display: flex;
    }
  }