<div class="container">
    <mat-toolbar color="primary" id="toolbar">
        <img [routerLink]="'/adopt'" src="https://uwarf.org/wp-content/uploads/2023/04/uwarf-logo.png" alt="Logo" >
        <div class="links">
            <a mat-button [routerLink]="'/adopt'">HOME</a>
            <a mat-button [routerLink]="'/adopt'">ADOPT</a>
            <a mat-button disabled="true">NEWS</a>
            <a mat-button disabled="true">VOLUNTEER</a>
        </div>
        
        <div class="small-screen">
            <div *ngIf="user === null; else notnull">
                <a mat-button [routerLink]="'/login'">LOG IN</a>
            </div>
            <ng-template #notnull>
                <a mat-button (click)="logout()">LOG OUT</a>
            </ng-template>
            <div class="menu">
                <mat-menu #menu="matMenu" >
                    <a mat-menu-item [routerLink]="'/adopt'">HOME</a>
                    <a mat-menu-item [routerLink]="'/adopt'">ADOPT</a>
                    <a mat-menu-item disabled="true">NEWS</a>
                    <a mat-menu-item disabled="true">VOLUNTEER</a>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="menu">MENU</button>
            </div>
        </div>
    </mat-toolbar>
</div>