.container {
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
} 

form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1vw;
}

.form section {
    margin: 1vw;
    display: flex;
    justify-content: space-around;
    flex: 1;
    flex-wrap: wrap;
}

button {
    margin-right: 1.25rem;
    align-self: center;
}

input {
    height: clamp(0.9375rem, 1vw, 5rem);
    width: max(80%, 3vw);
    padding: 0.75rem 0.9375rem;
    font-size: var(--fs-16);
    background-color: #CFE0C3;
    border: none;
    border-radius: 0.3125rem;
}

select {
    width: max(80%, 3vw);
    padding: .5vw;
    background-color: #CFE0C3;
    font-size: var(--fs-16);
    border: none;
    border-radius: 0.3125rem;
}

label {
    margin-block: 1vw;
    font-weight: 600;
    font-size: var(--fs-20);
}

div section div, .breed {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    align-items: center;
}

#adoption-sect {
    margin-bottom: 1vw;
    justify-content: start;
}

button {
    width: 10%;
    padding: 1vw;
    font-size: var(--fs-20);
}
@media only screen and (max-width : 940px) {
    .form section {
        flex-direction: column;
        gap: 1vw;
    }

    input, select {
        width: 80%;
    }

}

@media only screen and (max-width : 664px) {
    div section {
        gap: 1vw;
    }

    div section div label, .breed label {
        flex: 1;
    }
  }

