<div class="container">
  <form [formGroup]="filterForm" (ngSubmit)="onFilter()">
    <div class="form">
      <section>
          <div>
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" placeholder="Search By Name">
          </div>
          <div>
            <label for="age">Age</label>
            <input type="text" id="age" formControlName="age" placeholder="Search By Age">
          </div>
          <div>
            <label for="" style="align-self: flex-start;">Breed</label>
            <select formControlName="breed">
              <option *ngFor="let breed of breeds" [value]="breed" >{{breed}}</option>
            </select>
          </div>
      </section>  
    </div>
         <div id="adoption-sect" formGroupName="isAdopted" *ngIf="loggedInUser">
          <mat-checkbox type="checkbox" formControlName="yes">Adopted</mat-checkbox>
          <mat-checkbox type="checkbox" formControlName="no">Still Waiting</mat-checkbox>
        </div>
    <button mat-stroked-button 
    [disabled]="
    filterForm.get('name')?.value === '' && 
    filterForm.get('age')?.value === '' && 
    filterForm.get('breed')?.value === '' 
    && filterForm.get('isAdopted.yes')?.value === false
    && filterForm.get('isAdopted.no')?.value === false" type="submit">Filter</button>
</form>
</div>