.app {
    height: 100vh;
    /* width: 100vw; */
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

::ng-deep router-outlet + * {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }