<div class="container">
    <app-filter 
    [breeds]="breeds"
    (submitFilters)="onSubmitFilters($event)"
    
    ></app-filter>
    <div class="cards">
        <div *ngFor="let cat of pageSlice" class="card">
            <app-card style="width: 100%;" [image]="cat.image" [name]="cat.name" [age]="cat.age" [breed]="cat.breed" [id]="cat.id" [adopted]="cat?.is_adopted" [routerLink]="['/adopt', cat.id]"></app-card>
        </div>
    </div>
    <mat-paginator id="test" [length]="filteredCats?.length != 0 ? filteredCats.length : cats?.length" [pageSize]="6" [hidePageSize]="true" (page)="onPageChange($event)" aria-label="Select page">
    </mat-paginator>
</div>