.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.container .cards {
  margin-block: clamp(1.25rem, 1.5vw, 2.5rem);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1vw;
  box-sizing: border-box;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
}

#test {
  font-size: var(--fs-24);
}

@media only screen and (max-width : 1018px) {
      .card {
      flex-basis: 46%;
    }
  }
  
  @media only screen and (max-width : 664px) {
    .card {
      flex-basis: 90%;
    }
  }