/* You can add global styles to this file, and also import other style files */
:root {
    --fs-8: calc(0.5rem + 0.390625vw);
    --fs-10: calc(0.5rem + 0.390625vw);
    --fs-12: calc(0.625rem + 0.390625vw);
    --fs-14: calc(0.75rem + 0.390625vw);
    --fs-16: calc(0.875rem + 0.390625vw);
    --fs-20: calc(1rem + 0.390625vw);
    --fs-24: calc(1.25rem + 0.390625vw);
    --fs-32: calc(1.5rem + 0.390625vw);
    --fs-36: calc(2.25rem + 0.390625vw);
    --fs-40: calc(2.5rem + 0.390625vw);

    --mdc-form-field-label-text-size: 50px
}
html, body {
    /* width: 100vw; */
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important; 
}
* {
    font-family: 'Poppins', sans-serif !important; 
}

mat-chip.mat-mdc-standard-chip {
    --mdc-chip-label-text-size: clamp(12px, 0.75rem + 0.390625vw, 24px);
    --mdc-chip-label-text-weight: 700;
    --mdc-chip-label-text-color: black;
    padding: 0.125vw;
    background-color: #DC965A;
    border-radius: 8px;
}