.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    padding: 1vw;
    margin: 1.25rem;
    width: 70%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CFE0C3;
    box-shadow: -1px 7px 16px -5px rgba(31,54,61,1);    
}

#header {
    padding-bottom: 1.25rem;
    display: flex;
    justify-content: center;
}

#content {
    padding-block: 1.25rem;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

#footer {
    padding: 1.25rem;
    margin-inline: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    
}

#footer p {
    margin: 0;
    font-size: calc(var(--fs-14) + 10%);
    font-weight: 500;
    line-height: 120%;
    
}

#header h1 {
    margin: 0;
    font-size: var(--fs-36);
    font-weight: 600;
}

img {
    width: 50%;
    border-radius: 5px;
    box-shadow: -1px 7px 16px -5px rgba(31,54,61,1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul div {
    display: flex;
    justify-content: space-between;
}

ul li {
    padding: clamp(0.375rem, 1.590625vw, 1.25rem);
    font-size: calc(var(--fs-14) + 10%);
    font-weight: 500;
}

mat-chip.mat-mdc-standard-chip.adopted {
    background: #93032E;
    --mdc-chip-label-text-color: #fff;
    --mdc-chip-label-text-weight: 500;
}

mat-chip.mat-mdc-standard-chip.waiting {
    background: green;
    --mdc-chip-label-text-color: #fff;
    --mdc-chip-label-text-weight: 500;
}

button {
    font-size: var(--fs-20);
    padding: 1vw;
}
@media only screen and (max-width : 1024px) {
    #content {
        padding-bottom: 0;
        flex-direction: column;
        align-items: center;
    }

    #card, img, #content div {
        width: 100%;
    }

    #divider {
        display: none;
    }

    #footer {
        padding-top: 0
    }

  }