<div class="container">
    <mat-card id="card" *ngIf="cat">
        <mat-card-header id="header">
            <h1>Meet {{cat.name}}</h1>
        </mat-card-header>
        <mat-divider style="width: 80%;"></mat-divider>
        <mat-card-content id="content">
            <img src="{{cat.image}}" alt="">
            <div>
                <ul>
                    <div>
                        <li>NAME</li>
                        <li>{{cat.name}}</li>
                    </div>
                    <mat-divider></mat-divider>
                    <div>
                        <li>AGE</li>
                        <li>{{cat.age}}</li>
                    </div>
                    <mat-divider></mat-divider>
                    <div>
                        <li>BREED</li>
                        <li>{{cat.breed}}</li>
                    </div>
                    <mat-divider></mat-divider>
                    <div>
                        <li>CONTACT</li>
                        <li>{{cat.contact_name}}</li>
                    </div>
                    <mat-divider></mat-divider>
                    <div>
                        <li>PHONE NUMBER</li>
                        <li>{{cat.contact_phone}}</li>
                    </div>
                    <mat-divider></mat-divider>
                    <div *ngIf="loggedInUser">
                        <li>ADOPTION FEE</li>
                        <li>{{cat.adoption_fee | currency: 'EUR' : 'symbol'}}</li>
                    </div>
                    <mat-divider></mat-divider>
                </ul>
            </div>
        </mat-card-content>
        <mat-divider id="divider" style="width: 80%;"></mat-divider>
        <mat-card-footer id="footer">
            <p>{{cat.description}}</p>
            <mat-chip-set style="padding-left: 5px;" *ngIf="loggedInUser">
                <mat-chip
                id="chip" 
                [ngClass]="{adopted: cat.is_adopted, waiting: !cat.is_adopted}">
                <ng-container *ngIf="cat.is_adopted; else waiting">
                  I have been adopted!
                </ng-container></mat-chip>
                <ng-template #waiting>
                  I am waiting for adoption!
                </ng-template>
              </mat-chip-set>
              <button mat-raised-button [routerLink]="'/adopt'">GO BACK</button> 
        </mat-card-footer>
      </mat-card>
      
</div>